[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sudhirvacharya
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sudhirvacharya
	label-Verified = -1..+1 group user/sudhirvacharya
	push = group user/sudhirvacharya
	read = group user/sudhirvacharya
	rebase = group user/sudhirvacharya
	removeReviewer = group user/sudhirvacharya
	submit = group user/sudhirvacharya
[access "refs/heads/*"]
	create = group user/sudhirvacharya
	push = +force group user/sudhirvacharya
	pushMerge = group user/sudhirvacharya
	read = group user/sudhirvacharya
[access "refs/tags/*"]
	push = group user/sudhirvacharya
	push = +force group user/sudhirvacharya
